.h2 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.h3 {
    margin-bottom: 10px;
}

.input {

    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    font-size: 18px;
    color: #3a3a3c;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    outline-color: #4D5AE5;

}